body {
	background: linear-gradient(151.66deg, #E1F4EA -2.78%, rgba(255, 255, 255, 0) 69.68%);
  background-repeat: no-repeat;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::-moz-selection {
    background: #99E9BF;
}

::selection {
    background: #99E9BF;
}


@font-face { font-family: 'HKGrotesk-Medium'; src: url('/css/fonts/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'), url('/css/fonts/HKGrotesk-Medium.otf') format('opentype'), url('/css/fonts/HKGrotesk-Medium.woff') format('woff'), url('/css/fonts/HKGrotesk-Medium.ttf') format('truetype'), url('/css/fonts/HKGrotesk-Medium.svg#HKGrotesk-Medium') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'ReplicaPro-Bold'; src: url('/css/fonts/ReplicaPro-Bold.eot?#iefix') format('embedded-opentype'), url('/css/fonts/ReplicaPro-Bold.otf') format('opentype'), url('/css/fonts/ReplicaPro-Bold.woff') format('woff'), url('/css/fonts/ReplicaPro-Bold.ttf') format('truetype'), url('/css/fonts/ReplicaPro-Bold.svg#ReplicaPro-Bold') format('svg'); font-weight: normal; font-style: normal; }


@font-face {
  font-family: 'MVWaheed';
  src: url('css/fonts/MVWaheed.eot?#iefix') format('embedded-opentype'),  url('/css/fonts/MVWaheed.otf')  format('opentype'),
	     url('css/fonts/MVWaheed.woff') format('woff'), url('css/fonts/MVWaheed.ttf')  format('truetype'), url('css/fonts/MVWaheed.svg#MVWaheed') format('svg');
  font-weight: normal;
  font-style: normal;
}

.te_bold {
  font-weight: normal;
  font-family: 'ReplicaPro-Bold'
}

.te_regular {
  font-weight: normal;
  font-family: 'HKGrotesk-Medium'
}

.te_mv_bold {
	direction: rtl;
	font-weight: normal;
  font-family: 'MVWaheed'
}

.rtl {
    direction: rtl;
    text-align: right;
    font-family: 'MVWaheed';
    font-size: .975rem;
}

@keyframes ldio-8wz9o8rr0ws {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

.overlay {
  background:#fff;
  position:absolute;
  width:100%;
  text-align:center;
  top:0px;
  padding-top:40vh;
  left:0px;right:0px;bottom:0px;
  z-index: 100;

}
.ldio-8wz9o8rr0ws div {
  position: absolute;
  margin:0px auto;
  width: 34px;
  height: 34px;
  border: 2px solid #30b0e0;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-8wz9o8rr0ws div {
  animation: ldio-8wz9o8rr0ws 1s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-5y6xiz0nyts {
  width: 100px;
  height: 100px;
  margin:0px auto;
  display: inline-block;
  overflow: hidden;
}
.ldio-8wz9o8rr0ws {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-8wz9o8rr0ws div { box-sizing: content-box; }